<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
</head>
<body>
  <div>
    <table border="1">
      <tr>
        <td><label for="username">用户名</label></td>
        <td><input type="text" id="username" placeholder="请输入用户名"></td>
      </tr>
      <tr>
        <td><label for="password">密码</label></td>
        <td><input type="password" id="password" placeholder="请输入密码"></td>
      </tr>
    </table>

    <button id="submit1">提交-get</button>
    <button id="submit2">提交-post</button>
  </div>

  <script>
    const $submit1 = document.querySelector('#submit1')
    const $submit2 = document.querySelector('#submit2')

    $submit1.addEventListener('click', () => {
      const username = document.querySelector('#username').value
      const password = document.querySelector('#password').value
      axios.get(`/user/login?username=${username}&password=${password}`).then(res => {
        console.log(res.data)
      })
    })
    $submit2.addEventListener('click', () => {
      const username = document.querySelector('#username').value
      const password = document.querySelector('#password').value

      axios.post(`/user/login`, {
        username,
        password
      }).then(res => {
        console.log(res.data)
        if(res.data.code === 200){
          // location.href = '/home'
          console.log(res)
          // 保存用户token
          localStorage.setItem('Authorization', res.headers.authorization)
        }else{
          alert('错误')
        }
      })
    })
  </script>
</body>
</html>